html, body {
    margin: 0;
    padding: 0;
}

.root {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

h1 {
    user-select: none;
    text-align: center;
    margin: 8px auto;
}

.canvas-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    display: none;
    position: sticky;
    position: -webkit-sticky;
    z-index: 70;
    bottom: 40px;
}

.controls > * {
    position: absolute;
    user-select: none;
    font-size: 24px;
}

.shooting-controls {
    right: 20%;
}

.moving-controls {
    cursor: pointer;
    left: 20%;
}

#shoot {
    background: linear-gradient(120deg, lightblue, #397f93);
}

#canvas {
    background-size: cover;
}