html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.root {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100vh;
}

h1 {
    user-select: none;
    text-align: center;
    margin: 8px auto;
}

.canvas-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    display: none;
    position: absolute;
    user-select: none;
    z-index: 70;
    bottom: 20px;
    font-size: 38px;
    width: 100%;
    height: 120px;
}

.controls > * {
    position: absolute;
    user-select: none;
}

.shooting-controls {
    right: 5%;
    top: 15%;
}

.glass {
    border-radius: 15%;
    background: linear-gradient(120deg, #add7e660, #397f9360);
}

.moving-controls {
    width: 140px;
    height: 140px;
    top: -24px;
    cursor: pointer;
    left: 5%;
}

.moving-controls > * {
    position: absolute;
}

.moving-controls > #top {
    top: 0;
    left: 47px;
}
.moving-controls > #left {
    top: 50px;
    left: -2px;
}
.moving-controls > #right {
    top:50px;
    left: 94px;
}
.moving-controls > #bottom {
     top: 96px;
     left: 47px;
 }


#shoot {
    padding: 20px;
}

#canvas {
    background-size: cover;
}